<ul class="breadcrumb">
  <li><a href="<%=admin_test_brands_path%>">테스트 브랜드</a> </li>
  <li class="active"><%= params[:action].capitalize.to_s %></li>
</ul>

<div class="page-header">
  <h1><%= params[:action].capitalize.to_s %> <small>Test Brands</small></h1>
</div>
